*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cabin;
}

header{
    color: white;
    display: flex;
    background-image: url(./img/jumbo.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

   
    
}

#nav-top{
    width: 100%;
    background-color: #255ee9;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1.5rem 2rem 0rem 2rem;
   
  

}
ul{
    display: flex;
    list-style: none;
    flex-direction: row;
    align-items: center;

    
}
li{
    margin-right: 2em;
}

.litle-button{
    padding: .5rem;
    border-radius: 1.5rem;
    border: none;
    font-size: 1rem;
    width: 4.5rem;


}
.scritta-centrata{
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 7em 12em 11em 12em;
    width: 79%;
    height: 33rem;
}
h1{
    font-size: 3rem;
    padding-bottom: 2rem ;
}

p{
    font-size: 1.35rem;
    padding-bottom: 1rem ;
    line-height: 2rem ;
    text-align: center;

}
.big-bottons{
    border-radius: 1.5rem;
    border: none;
    font-size: 1.35rem;
    padding: 0.75rem;
    margin-right: 1rem;
}
#Blue-button{
    background-color: #23272a;
    color: white;
}

.img-left{
    display: flex;
    flex-direction: row;
}
.IMG{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    flex-direction: column;
    padding: 5%;
}
.txt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 40%;
    padding: 8% 8% 8% 0%;
}
.img-right{
    display: flex;
    flex-direction: row-reverse;
}
.IMG-2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    flex-direction: column;
    padding: 5%;
}
.txt-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 40%;
    padding: 8% 0% 8% 8%;
}

footer{
    width: 100%;
    padding: 2rem;
    background-color: #23272a;
    color: white;
}